{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mt-3 mb-4">
        <a href="#" class="text-decoration-none">
            <div class="card text-black text-center">
                <div class="card-body">
                    <i class="fas fa-box fa-3x"></i>
                    <h5 class="card-title mt-2">Embalagens</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-3 mb-4">
        <a href="#" class="text-decoration-none">
            <div class="card text-black text-center">
                <div class="card-body">
                    <i class="fas fa-truck fa-3x"></i>
                    <h5 class="card-title mt-2">Fornecedores</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-3 mb-4">
        <a href="#" class="text-decoration-none">
            <div class="card text-black text-center">
                <div class="card-body">
                    <i class="fas fa-map-marker-alt fa-3x"></i>
                    <h5 class="card-title mt-2">Locais</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-3 mb-4">
        <a href="#" class="text-decoration-none">
            <div class="card text-black text-center">
                <div class="card-body">
                    <i class="fas fa-boxes fa-3x"></i>
                    <h5 class="card-title mt-2">Produtos</h5>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock content %}
